.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .btn-toggle{
    width: 90px;
    height: 40px;
    border-radius: 50px;
    background: rgba(10, 196, 32, 0.632);
    
    padding: 2.5px;
    
}
button{
    border: none;
    width: 50px;
    border-radius: 50px;
    height: 40px;
    background: rgba(18, 104, 225, 0.516);
}
.buttonChange{
    transform: translateX(40px);
}